* {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	box-sizing: inherit;
}

section.book-search {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.container {
	display: flex;
	width: 50%;
	min-width: 500px;
	/* max-width: 770px; */
	padding: 35px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 20px auto;
	width: 100%;
	padding: 0 30px;
	border-radius: 30px;
	border: 1px solid #dcdcdc;
}
.bar:hover {
	box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
	box-shadow: 1px 1px 8px 1px #dcdcdc;
	outline: none;
}
.search-tool {
	margin-top: 3px;
	color: #9aa0a6;
	display: inline-block;
	fill: currentColor;
}

.cancel-btn {
	cursor: pointer;
}

.hide {
	display: none;
}

.error {
	min-width: 500px;
	max-width: 770px;
	border-bottom: 1px solid red;
}

.searchbar {
	height: 45px;
	width: 100%;
	padding: 0 10px;
	border: none;
	font-size: 16px;
	outline: none;
}

button {
	background-color: #f5f5f5;
	border: none;
	color: #707070;
	font-size: 15px;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}
button:hover {
	border: 1px solid #c8c8c8;
	padding: 9px 19px;
	color: #808080;
}
button:focus {
	border: 1px solid #4885ed;
	padding: 9px 19px;
}

section.book-list-section {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.book-list-section > .container {
	align-items: flex-start;
	text-align: left;
	padding: 0;
}

.book-block {
	display: flex;
	flex-direction: column;
}

.book-title {
	color: rgb(26, 13, 171);
	cursor: auto;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	height: 26px;
	line-height: 26px;
	margin-block-end: 3px;
	margin-block-start: 18px;
	margin-bottom: 3px;
	margin-top: 18px;
	padding-top: 5px;
	text-align: left;
	text-decoration: underline;
	text-decoration-line: underline;
}

.book-auth {
	color: rgb(77, 81, 86);
	display: inline;
	font-family: arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	line-height: 1.58;
	text-align: left;
	width: auto;
}
